table#items th {
    font-weight: bold;
}

.pagination {
    clear:both;
    padding:20px 0;
    position:relative;
    font-size:11px;
    line-height:13px;
}

.pagination span, .pagination a {
    display:block;
    float:left;
    margin: 0px 2px 0px 0;
    padding:6px 9px 5px 9px;
    text-decoration:none;
    width:auto;
    color:#fff;
    background: #555;
}
.pagination a {
    cursor: pointer;
    color: #050331 !important;
}

.pagination a:hover{
    color:#fff;
    background: #3279BB;
}

.pagination .current, .pagination .inactive {
    padding:0px 9px 0px 9px;
    background: #3279BB;
    color:#fff;
}

.farleft {
    margin-left: -9999px !important;
    height: 10px;
}
.removed {
    display: none;
}
i.fa-times {
    color: red;
}
#item {
    opacity: 0;
    display: none;
}
#letters, #membertypes {
    margin: 0 auto 5px auto;
    width: 920px;
}
.letter, .membertype {
    display: inline-block;
    border: grey 1px solid;
    width: 31px;
    text-align: center;
    padding: 2px 5px;
    margin-right: 2px;
    background-color: #f1f3f3;
    border-radius: 8px;
}
.membertype {
    width: auto;
}
.wider {
    width: 50px;
}
.selected {
    background-color: #ffcccc;
}
.hand {
    cursor: pointer;
}
